<!-- home-page.component.html Inhalt: -->

<ActionBar title="Sensor Dashboard"></ActionBar>
<ScrollView>
    <FlexboxLayout flexDirection="column" alignItems="stretch">
        <Button text="Zeige alle Sensoren" class="btn btn-primary" (tap)="showSensors()"></Button>
        <ng-container *ngFor="let sensor of sensors">
            <StackLayout class="card" (tap)="navigateToSensorDetails(sensor.sensorId)">
                <Label [text]="sensor.name" class="card-title"></Label>
                <Label [text]="'Typ: ' + sensor.type" class="label"></Label>
                <Label [text]="'Standort: ' + sensor.location" class="label"></Label>
                <Label [text]="'Aktiv: ' + (sensor.active ? 'Ja' : 'Nein')" class="label"></Label>
                <ng-container *ngFor="let measurement of getLatestMeasurements(sensor.measurements)">
                    <Label [text]="'Letzte Temperatur: ' + (measurement?.temperature ?? 'N/A') + '°C'" class="label"></Label>
                    <Label [text]="'Letzte Luftfeuchtigkeit: ' + (measurement?.humidity ?? 'N/A') + '%'" class="label"></Label>
                </ng-container>
            </StackLayout>
        </ng-container>
    </FlexboxLayout>
</ScrollView>
<!------------------------------------------------------->