<!-- sensor-overview.component.html Inhalt: -->

<ActionBar title="Wähle Sensor"></ActionBar>
<StackLayout>
  <Label *ngIf="!showSensorList && sensors.length > 0" [text]="sensors[0]?.name" (tap)="onSensorTouch()"></Label>
  <ScrollView *ngIf="showSensorList">
    <StackLayout>
      <Label *ngFor="let sensor of sensors" [text]="sensor?.name + ' - ' + (sensor?.location ? sensor.location : 'Keine Location') + ' - ' + (sensor?.active ? 'Aktiv' : 'Inaktiv') + ' - ' + (sensor?.type ? sensor.type : 'Kein Typ')"></Label>
    </StackLayout>
  </ScrollView>
</StackLayout>
<!------------------------------------------------------->