<!-- sensor-overview.component.html Inhalt: -->

<ActionBar title="Sensorübersicht"></ActionBar>
<ListView [items]="sensors" class="list-group">
    <ng-template let-sensor="item">
        <StackLayout class="list-group-item" (tap)="navigateToSensorDetails(sensor.sensorId)">
            <Label [text]="sensor.name" class="list-group-item-title"></Label>
            <Label [text]="'Standort: ' + sensor.location" class="list-group-item-subtitle"></Label>
            <Label [text]="'Typ: ' + sensor.type" class="list-group-item-subtitle"></Label>
            <Label [text]="'Aktiv: ' + (sensor.active ? 'Ja' : 'Nein')" class="list-group-item-subtitle"></Label>
        </StackLayout>
    </ng-template>
</ListView>
<!------------------------------------------------------->
