<!-- sensor-measurement.component.html Inhalt: -->

<ActionBar title="Temperaturmessungen"></ActionBar>

<StackLayout>
    <!-- Diagramm für die letzten 24 Stunden -->
    <Label text="Letzte 24 Stunden" class="h2"></Label>
    <RadCartesianChart>
        <!-- Konfiguration des Diagramms -->
        <LineSeries tkCartesianSeries [items]="measurements24Hours" categoryProperty="timestamp" valueProperty="temperature"></LineSeries>
    </RadCartesianChart>

    <!-- Diagramm für die letzten 7 Tage -->
    <Label text="Letzte 7 Tage" class="h2"></Label>
    <RadCartesianChart>
        <!-- Konfiguration des Diagramms -->
        <LineSeries tkCartesianSeries [items]="measurements7Days" categoryProperty="timestamp" valueProperty="temperature"></LineSeries>
    </RadCartesianChart>

    <!-- Diagramm für die letzten 30 Tage -->
    <Label text="Letzte 30 Tage" class="h2"></Label>
    <RadCartesianChart>
        <!-- Konfiguration des Diagramms -->
        <LineSeries tkCartesianSeries [items]="measurements30Days" categoryProperty="timestamp" valueProperty="temperature"></LineSeries>
    </RadCartesianChart>
</StackLayout>
<!------------------------------------------------------->